@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

.glow-text {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
        0 0 20px rgba(255, 255, 255, 0.5),
        0 0 30px rgba(255, 255, 255, 0.3);
}

@keyframes slowPan {
    from {
        transform: scale(1.1) translate(0, 0);
    }
    to {
        transform: scale(1.1) translate(-2%, -2%);
    }
}

.bg-space {
    animation: slowPan 60s ease-in-out infinite alternate;
}